
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

#urlInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#parseBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#parseBtn:hover {
    background-color: #2980b9;
}

#resContainer {
    display: none;
    margin-top: 20px;
}

#resContainer h2 {
    color: #333;
}

#resContainer ul {
    list-style: none;
    padding: 0;
}

#resContainer li {
    margin-bottom: 5px;
}

#clearBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clearBtn:hover {
    background-color: #c0392b;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}